body{
	display: block;
	background-color: #E0F5F1;
}
 .navbar{
  	border: 0px;
  	border-radius: 0px;
  margin: 0px;
  font-size: 15px;
  }
.navbar-brand{
	font-size: 30px;
	
}

.main{
  	padding: 25px;
  }

.something{
	background-color: #8C9AD9;
	border-radius: 3px;
      word-spacing: 3px;
}
.something.text{
	padding: 3px;
}
.skills li{
	width: 200px;
	height: 200px;
	background-color: #BCE7B6;
	margin-right: 5px;
	margin-bottom: 10px;
	
	border-radius: 5px;
}
.skills li img{
	margin-left: 50px;
	margin-top: 5px;


}
.skills li:nth-child(even){background-color: #BBDD98;}
.skills li:nth-child(odd){background-color: #BCE7B6;}
.contact li{
	position: relative;
	top:100px;
	
	width: 100px;
	height: 100px;
	text-align: center;
}

.contact li i{
	position: relative;
	top: 20px;
}
.contact ul h2 i{
	color: red;
}